@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: black;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    list-style: circle;
    margin-top: 2rem;
h1 {
    color: red;
}
}
#board {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url(bg.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: 50%;
    margin-top: 10rem;
    background-color: white;
    margin-left: 25rem;
#character {
    position: relative;
    top: 150px;
    left: 10px;
    img {
        height: 60px;
        width: 60px;
    }
}
.animate {
    animation: jump 500ms;
}
#blocks {
    position: relative;
    top: 90px;
    left: 140px;
    animation: going-left 1.5s infinite linear;
    img {
        height: 60px;
        width: 60px;
    }
}
}
@keyframes going-left {
    0% {
        left: 800px;
    }
    100% {
        left: -50px;
    }
}
@keyframes jump {
    0% {
        top: 150px;
    }
    30% {
        top: 100px;
        
    }
    70% {
        top: 100px;
        
    }
    100% {
        top: 150px;
        
    }
}
@media only screen and (max-width:768px) {
    #board {
        height: 35vh;
        width: 100%;
        margin-left: auto;
    }
}