@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: gray;
}
#board {
    height: 30vh;
    width: 50%;
    margin-top: 10rem;
    background-color: black;
#character {
    height: 60px;
    width: 30px;
    background-color: white;
    position: relative;
    top: 150px;
    left: 10px;
}
.animate {
    animation: jump 500ms;
}
#blocks {
    height: 40px;
    width: 50px;
    background-color: red;
    position: relative;
    top: 110px;
    left: 140px;
    animation: going-left 2.5s infinite linear;
}
}
@keyframes going-left {
    0% {
        left: 800px;
    }
    100% {
        left: -50px;
    }
}
@keyframes jump {
    0% {
        top: 150px;
    }
    30% {
        top: 100px;
        
    }
    70% {
        top: 100px;
        
    }
    100% {
        top: 150px;
        
    }
}
@media only screen and (max-width:768px) {
    #board {
        height: 35vh;
        width: 100%;
    }
}